{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">Home</h1>
<div class="text-center">
    <h2>Welcome to {your name company}</h2>
    <div class="btn-group btn-group-lg">
        <div class="btn-group">
            <a href="/feedback">
                <button type="button" class="btn btn-success">Feedback</button>
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Chart
                </button>
                <div class="dropdown-menu btn btn-warning">
                    <a class="dropdown-item" href="/comments_dates">comment_date</a>
                    <a class="dropdown-item" href="/comments_courses">comment_course</a>
                    <a class="dropdown-item" href="/rating_courses">rating_courses</a>
                    <a class="dropdown-item" href="/rating">rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}